*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    background-color:#f6fdf9; 
    color:#222;
    line-height: 1.6;
    font-size: 17px;
    overflow-x: hidden;
}
header h3{
    font-size: 1.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#02291d;
    margin-bottom: 10px;
    border:2px;
    background-color: rgb(189, 240, 214);
  }
 img{
width: 570px;
height:auto;
border: 2px solid#ffeeee;
border-radius: 10px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }
.tittle-container{
    border:3px ;
    margin: 8px 12px;
    border-radius: 42px;
    padding-top: 19px;
}
.about-text p{
    color: #222;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1000px;
    font-size: 1.5rem;
    margin-bottom: 17px;
    margin-left: 4px;
    
    
}.about-text span{
    color: red;
    font-style: italic;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

.about-text h2{
    font-size: 28px;
    color: #0f766e;
}
.about-features i{
    font-size: 2.5rem;
    margin-bottom: 6px;
    margin-left:10px ;
    padding-bottom: 10px;
    color: #222;
}
.about-features span{
    font-size: 1.5rem;
    color: #222;
    padding-bottom: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.copy{
    margin-top: 12px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    background-color:  rgba(2, 3, 37, 0.507);
    color: rgb(5, 0, 0);
    align-items: center;
}
.icons1{
    font-size: 13px;
    display: flex;
    gap: 12px;
}
@media(max-width:780px){
     .tittle-container{
      margin: 9px;
      padding: 10px;
    }
     .about-text h2{
    font-size: 23px;}
    .about-text p{
        font-size: 17px;

    }
    .about-text span{
        font-size: 14px;
    }
    .about-features i{
        font-size: 17px;
    }
    img{
        width: 220px;
        height: auto;
    }
    .copy{
        font-size: 9px;
    }

}