*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    background-color:rgb(213, 230, 224); 
    color:#308671;
}
header h3{
    font-size: 3.5rem;
    font-family: sans-serif;
    color:#02291d;
    margin-bottom: 10px;
    border:2px;
    background-color: rgb(189, 240, 214);
  
}
.tittle-container{
    margin: 12px 22px;
    border:3px ;
    border-radius: 42px;
    padding-top: 17px;
}
.about-text p{
    color: #02291d;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;;
    font-size: 2.5rem;
    margin-bottom: 17px;
    margin-left: 4px;
    
}.about-text span{
    color: red;
    font-style: italic;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

.about-text h2{
    font-size: 3.5rem;
}
.about-features i{
    font-size: 2.5rem;
    margin-bottom: 6px;
    margin-left:15px ;
    padding-bottom: 10px;
    color: #02291d;
}
.about-features span{
    font-size: 1.5rem;
    color: #02291d;
    padding-bottom: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.copy{
    margin-top: 12px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    background-color:  rgba(2, 3, 37, 0.507);
    color: rgb(5, 0, 0);
}
.icons1{
    font-size: 13px;
    display: flex;
    gap: 12px;
}
@media(max-width:580px){
     .tittle-container{
      margin: 12px 45px;
    }
     .about-text h2{
    font-size: 2.5rem;}
    .about-text p{
        font-size: 1.5rem;
    }
    .about-text span{
        font-size: 1.5rem;
    }
    .about-features i{
        font-size: 1.5rem;
    }

}