*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    background-color:rgb(228, 245, 247); 
    color:#308671;
}
.tittle-container{
    margin: 22px 132px;
    border:3px solid #ddd;
    border-radius: 42px;
    padding-top: 17px;
    background-color: rgb(248, 240, 230);
}
 .about-text h2{
    font-size: 3.5rem;
    color:var(--secondary-color) ;
    margin-bottom: 10px;
    margin-left: 15px;
  
}
.about-text p{
    color: #0f0000;
    max-width: 1000px;;
    font-size: 2.5rem;
    margin-bottom: 17px;
    margin-left: 15px;
    padding-top: 22px;
}
.about-features i{
    font-size: 2.5rem;
    margin-bottom: 6px;
    margin-left:15px ;
    padding-bottom: 10px;
}
.about-features span{
    font-size: 2.5rem;
    color: #020000;
    padding-bottom: 10px;
}
.copy{
    margin-top: 12px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    background-color:  rgba(2, 3, 37, 0.507);
    color: rgb(5, 0, 0);
}
.icons1{
    font-size: 23px;
    display: flex;
    gap: 12px;
}
@media(max-width:580px){
     .tittle-container{
      margin: 12px 45px;
    }
     .about-text h2{
    font-size: 2.5rem;}
    .about-text p{
        font-size: 1.5rem;
    }
    .about-text span{
        font-size: 1.5rem;
    }
    .about-features i{
        font-size: 1.5rem;
    }

}