*{
   box-sizing: border-box;
   margin: 0;
   padding: 0; 
}
body{
   background-color: rgb(213, 230, 224);
   align-items: center; 
}
header{
    font-size: 22px;
    padding: 6px 2px;
    background-color:  #1abc9c;
    align-items: center;
    color: white;
}
.hero{
    background-color: white;
    margin: 22px 42px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    padding: 15px;
}
.hero h4{
    font-size: 33px;
    padding :4px 0;
    color: rgb(50, 167, 128);
}
.hero h6{
    font-size:15px ;
    font-weight: 500;
    padding-bottom: 12px;

}
button:hover{
    cursor: pointer;
    color: rgb(3, 68, 38);
}
.first{
    padding: 7px 18px;
    font-size: 17px;
    background-color: white;
    color:rgb(50, 167, 128) ;
}
.second{
    padding: 7px 19px;
    font-size: 17px;
    color: white;
    background-color:rgb(50, 167, 128);
}
 .form-group label{
    display: block;
    font-weight: 600;
    color: var(--secondary-color);
    text-align: left;
    margin-top: 18px;
}
.form-group input{
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}
.create button{
    padding: 7px 18px;
    font-size: 16px;
    color: white;
    background-color:rgb(50, 167, 128) ;
    margin-bottom: 8px;
    margin-top: 22px;
}
.best button{
    padding: 10px 14px;
    font-size: 16px;
    color: white;
    background-color:rgb(50, 167, 128) ;
    margin-bottom: 8px;
    margin-top: 10px;
}
.i{
    font-size: 92px;
    color: rgb(14, 11, 192);
}
.best h4{
    font-size: 16px;
    color: black;
    font-weight: 300;
}
.copy{
    padding: 22px 0;
    font-size: 11px;
}
@media(max-width:780px){
    input{
        width: 100%;
    }
   .input h6{
    margin-left: 13px;
   }
}
@keyframes example{
    
}